<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>成绩确认</title>

<script src="__PUBLIC__/assets/js/jquery.min.js"></script>
<script src="__PUBLIC__/assets/js/theme.js"></script>
<link rel="stylesheet" href="__PUBLIC__/assets/css/amazeui.min.css" />
<link rel="stylesheet" href="__PUBLIC__/assets/css/amazeui.datatables.min.css" />
<link rel="stylesheet" href="__PUBLIC__/assets/css/app.css">

</head>
<body class="theme-white">
	<div class="tpl-login" id="form-with-tooltip">
			<div class="tpl-login-content tpl-login-content-remark">
<h1 class="am-header-title" >
 <a href="#left-link" >  成绩确认 </a>
      </h1>
       <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
  <div class="passorno">
<b> 恭喜你通过考试！</b> 
  </div>
  <div class="score">
  <div class="grade1"><b>你的得分是：</b></div>
  <div class="grade">98</div>
  </div>


</div>



</div>
</body>
</html>