<include file="Public/head" />
<include file="Public/nav" />


<!-- 内容区域 -->
<div class="tpl-content-wrapper">

	<div class="container-fluid am-cf">
		<div class="row">
			<div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
				<div class="page-header-heading">
					<span class="am-icon-home page-header-heading-icon"></span> 管理系统首页
					<small>Qust Library</small>
				</div>
				<p class="page-header-description">欢迎使用青岛科技大学图书馆考试系统</p>
			</div>

		</div>

	</div>
	<section data-am-widget="accordion"
		class="am-accordion am-accordion-gapped" data-am-accordion='{  }'>
		<dl class="am-accordion-item am-active">
			<dt class="am-accordion-title">快捷菜单</dt>
			<dd class="am-accordion-bd am-collapse am-in">
				<div class="row  am-cf">
					<foreach name="list" item="vo">
					<div class="am-u-sm-12 am-u-md-12 am-u-lg-3" style="float: left">
						<div class="widget am-cf">
							<div class="widget-head am-cf">
								<div class="widget-title am-fl">{$vo.name}</div>
								<div class="widget-function am-fr">
									<a href="javascript:;" class="am-icon-cog"></a>
								</div>
							</div>
							<div class="widget-body am-fr">
								<div class="am-fl">
									<div class="widget-fluctuation-period-text">
										{$vo.description} <a href="__MODULE__/{$vo.url}"><button
												class="widget-fluctuation-tpl-btn">
												<i class="am-icon-calendar"></i> 点击跳转
											</button> </a>
									</div>
								</div>
							</div>
						</div>
					</div>
					</foreach>
				</div>
			</dd>
		</dl>
	</section>
	<section data-am-widget="accordion"
		class="am-accordion am-accordion-gapped" data-am-accordion='{  }'>
		<dl class="am-accordion-item am-active">
			<dt class="am-accordion-title">图表看板</dt>
			<dd class="am-accordion-bd am-collapse am-in">
				<div class="row am-cf">
					<div class="am-u-sm-12 am-u-md-6">
						<div class="widget am-cf">
							<div class="widget-head am-cf">
								<div class="widget-title am-fl">全校平均分数柱状图</div>
								<div class="widget-function am-fr">
									<a href="javascript:;" class="am-icon-cog"></a>
								</div>
							</div>
							<div
								class="widget-body-md widget-body tpl-amendment-echarts am-fr"
								id="school" style="min-height: 400px;"></div>
						</div>
					</div>

					<div class="am-u-sm-12 am-u-md-6">
						<div class="widget am-cf">
							<div class="widget-head am-cf">
								<div class="widget-title am-fl">各学院平均分数柱状图</div>
								<div class="widget-function am-fr">
									<a href="javascript:;" class="am-icon-cog"></a>
								</div>
							</div>
							<div
								class="widget-body-md widget-body tpl-amendment-echarts am-fr"
								id="college" style="min-height: 400px;"></div>
						</div>
					</div>
				</div>
			</dd>
		</dl>
	</section>
</div>
</div>
</div>
<script src="__PUBLIC__/assets/js/amazeui.min.js"></script>
<script src="__PUBLIC__/assets/js/amazeui.datatables.min.js"></script>
<script src="__PUBLIC__/assets/js/dataTables.responsive.min.js"></script>
<script src="__PUBLIC__/assets/js/app.js"></script>
<script type="text/javascript">
	// 基于准备好的dom，初始化echarts实例
	var schoolChart = echarts.init(document.getElementById('school'));
	var collegeChart = echarts.init(document.getElementById('college'));
	// 指定图表的配置项和数据
	var schoolOption = {
		title : {
			text : '全校分数人数分布柱状图'
		},
		tooltip : {trigger: 'axis'},
		toolbox: {
            top: '0',
            feature: {
                saveAsImage: { show: true }
            }
        },
		legend : {
			//data : [ '销量' ]
		},
		xAxis : {
			name: '分数',
			data : [ "100-90分", "89-80分", "79-70分", "69-60分", "60分以下" ]
		},
		yAxis : {name: '人数'},
		series : [ {
			name : '人数',
			type : 'bar',
			data : {$pjson},
			itemStyle: {
                normal: {
                    color: '#59aea2'
                }
            },
            label :{
            	normal:{
            		show: true,
            		position:'top'
            	}
            }
           
		} ]
	};
	var collegeOption = {
			title : {
				text : '各学院平均分数柱状图'
			},
			tooltip : {trigger: 'axis'},
			toolbox: {
	            top: '0',
	            feature: {
	                saveAsImage: { show: true }
	            }
	        },
			legend : {
				//data : [ '销量' ]
			},
			xAxis : {
				data : {$cjson},
				//设置字体倾斜  
                axisLabel:{  
                    interval:0,  
                    rotate:30,//倾斜度 -90 至 90 默认为0  
                    margin:2,  
                    textStyle:{  
                        fontWeight:"bolder",  
                        color:"#000000"  
                    }
				}  
			},
			yAxis : {name: '分数'},
			series : [ {
				name : '分数',
				type : 'bar',
				data : {$ajson},
				itemStyle: {
                    normal: {
                        color: '#32c5d2'
                    }
                },
                label :{
                	normal:{
                		show: true,
                		position:'top'
                	}
                }
			} ]
		};
	// 使用刚指定的配置项和数据显示图表。
	schoolChart.setOption(schoolOption);
	collegeChart.setOption(collegeOption);
	
	
	
</script>
</body>

</html>