<include file="Public/head" />
<include file="Public/nav" />
<!-- 内容区域 -->
<div class="tpl-content-wrapper">

	<div class="container-fluid am-cf">
		<div class="row">
			<div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
				<div class="page-header-heading">
					<span class="am-icon-home page-header-heading-icon"></span>修改学生信息
				</div>
				<p class="page-header-description"></p>
			</div>
		</div>

	</div>
	<div class="row-content am-cf">
		<div class="row">

			<div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
				<div class="widget am-cf">
					<div class="widget-head am-cf">
						<div class="widget-title am-fl">修改学生信息</div>
						<div class="widget-function am-fr">
							<a href="javascript:;" class="am-icon-cog"></a>
						</div>
					</div>
					<div class="widget-body am-fr">

						<form class="am-form tpl-form-border-form tpl-form-border-br"
							method="post" action="__CONTROLLER__/editstu">
							<input type="hidden" name="id" value="{$list['id']}">
							<div class="am-form-group">
								<label for="user-name" class="am-u-sm-3 am-form-label">学生姓名
									<span class="tpl-form-line-small-title">name</span>
								</label>
								<div class="am-u-sm-9">
									<input type="text" class="tpl-form-input" id="title"
										name="username" value="{$list['username']}"
										placeholder="请输入学生姓名">
								</div>
							</div>
							<div class="am-form-group">
								<label for="user-name" class="am-u-sm-3 am-form-label">学生学号
									<span class="tpl-form-line-small-title">no</span>
								</label>
								<div class="am-u-sm-9">
									<input type="text" class="tpl-form-input" id="title"
										name="usernumber" value="{$list['usernumber']}"
										placeholder="请输入学生学号">
								</div>
							</div>
							<div class="am-form-group">
								<label for="user-phone" class="am-u-sm-3 am-form-label">性别
									<span class="tpl-form-line-small-title">sex</span>
								</label>
								<div class="am-u-sm-9">

									<if condition="$list['sex'] eq '1'"> <select
										data-am-selected="{searchBox: 0}" style="display: none;"
										name="sex">
										<option value="1" selected="true">男</option>
										<option value="0">女</option>
									</select> <elseif condition="$list['sex'] eq '0'" /> <select
										data-am-selected="{searchBox: 0}" style="display: none;"
										name="sex">
										<option value="1">男</option>
										<option value="0" selected="true">女</option>
									</select> </if>

								</div>
							</div>
							<div class="am-form-group" id="xy">
								<label for="user-phone" class="am-u-sm-3 am-form-label">学院
									<span class="tpl-form-line-small-title">college</span>
								</label>
								<div class="am-u-sm-9">
									<select data-am-selected="{searchBox: 0}" name="college"
										id="college" style="display: none;">
										<foreach name="college" item="vo"> <if
											condition="$vo['cname'] eq $list['college']">
										<option value="{$vo['cname']}" selected="true">{$vo['cname']}</option>
										<else />
										<option value="{$vo['cname']}">{$vo['cname']}</option>
										</if> </foreach>

									</select>

								</div>
							</div>
							<div class="am-form-group">
								<label for="user-phone" class="am-u-sm-3 am-form-label">班级
									<span class="tpl-form-line-small-title">college</span>
								</label>
								<div class="am-u-sm-9">
									<select data-am-selected="{searchBox: 0}" name="class"
										id="classes" style="display: none;">
										<foreach name="class" item="vo"> <if
											condition="$vo['clname'] eq $list['class']">
										<option value="{$vo['clname']}" selected="true">{$vo['clname']}</option>
										<else />
										<option value="{$vo['clname']}">{$vo['clname']}</option>
										</if> </foreach>
									</select>
								</div>
							</div>
							<div class="am-form-group">
								<label for="user-intro" class="am-u-sm-3 am-form-label">解锁
									<span class="tpl-form-line-small-title">unlock</span>
								</label>
								<div class="am-u-sm-9">
									<div class="tpl-switch">
										<if condition="$list['loginnum'] eq '1' "> <input
											type="checkbox" name="loginnum"
											class="ios-switch bigswitch tpl-switch-btn" checked="checked"
											value="1"> <else /> <input type="checkbox"
											name="loginnum" class="ios-switch bigswitch tpl-switch-btn">
										</if>

										<div class="tpl-switch-btn-view">
											<div></div>
										</div>
									</div>
								</div>
							</div>

							<div class="am-form-group">
								<div class="am-u-sm-9 am-u-sm-push-3">
									<button type="submit"
										class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>


	</div>
</div>
</div>
</div>
<script src="__PUBLIC__/assets/js/amazeui.min.js"></script>
<script src="__PUBLIC__/assets/js/amazeui.datatables.min.js"></script>
<script src="__PUBLIC__/assets/js/dataTables.responsive.min.js"></script>
<script src="__PUBLIC__/assets/js/app.js"></script>
<!-- ajax动态获取学院对应信息 -->
<script type="text/javascript">
	$(function() {
		//滞空

		$('#college').on(
				'change',
				function() {
					var co = $("#xy").find(".am-selected-status ").text();
					var aj = $.ajax({
						url : "{:U('Student/getClass')}",// 跳转到 action  
						data : {
							cname : co,
						},
						type : 'post',
						success : function(data) {
							$("#classes").empty();
							for ( var i = 0; i < data.length; i++) {
								$("#classes").append(
										"<option value= '"  + data[i]['clname'] + "'>"
												+ data[i]['clname']
												+ "</option>");
							}
						},
						error : function() {
							alert("异常！");
						}
					});

				});
	});
</script>
</body>

</html>