<include file="Public/head" />
<include file="Public/nav" />


<!-- 内容区域 -->
<div class="tpl-content-wrapper">
	<div class="row-content am-cf">
		<div class="row">
			<div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
				<div class="widget am-cf">
					<div class="widget-head am-cf">
						<div class="widget-title  am-cf">学院定义</div>
					</div>
					<div class="widget-body  am-fr">

						<div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
							<div class="am-form-group">
								<div class="am-form-group">
									<div class="am-btn-toolbar">
										<form action="__CONTROLLER__/upload" method="post"
											id="importfrom" enctype="multipart/form-data">
											<div class="am-form-group am-form-file">
												<button type="button" class="am-btn am-btn-danger am-btn-sm">
													<i class="am-icon-cloud-upload"></i> 选择要上传的文件
												</button>
												<input id="import" type="file" name="exl" multiple>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
							<div class="am-form-group">
								<div class="am-btn-toolbar">
									<div class="am-form-group am-form-file">
										<a href="{:U("College/showcollege")}">
											<button type="button" class="am-btn am-btn-primary am-btn-sm">
												<i class="am-icon-cloud-upload"></i> 手动添加学院信息
											</button>
										</a>
									</div>
								</div>
							</div>
						</div>
						
						<div class="am-u-sm-12">
							<table width="100%"
								class="am-table am-table-compact am-table-striped tpl-table-black "
								id="example-r">
								<thead>
									<tr>
										<th>学院名称</th>
										<th>班级名称</th>
										<th>操作类型</th>
									</tr>
								</thead>
								<tbody>
									<foreach name="list" item="vo">
									<tr class="gradeX">
										<td>{$vo.cname|subtext=30}</td>
										<td>{$vo.clname|subtext=30}</td>
										<td>
											<div class="tpl-table-black-operation">
												<a href="{:U('College/editcollege',array('id' => $vo['id']))}">
													<i class="am-icon-pencil"></i> 编辑
												</a> <a href="{:U('College/delcollege',array('id' => $vo['id']))}"
													onclick="return confirm('确定删除')"
													class="tpl-table-black-operation-del"> <i
													class="am-icon-trash"></i> 删除
												</a>
											</div>
										</td>
									</tr>
									</foreach>
									<!-- more data -->
								</tbody>
							</table>
						</div>
						<div class="am-u-lg-12 am-cf">
							<div class="am-fr">
								<div class="am-pagination tpl-pagination">{$page}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
<script src="__PUBLIC__/assets/js/amazeui.min.js"></script>
<script src="__PUBLIC__/assets/js/amazeui.datatables.min.js"></script>
<script src="__PUBLIC__/assets/js/dataTables.responsive.min.js"></script>
<script src="__PUBLIC__/assets/js/app.js"></script>
<script type="text/javascript">
	$(function() {
		$('#import').on('change', function() {
			$.AMUI.progress.start();
			var options = {
				url : '{:U("College/upload")}',
				type : 'post',
				success : function(data) {
					$.AMUI.progress.done();
					alert(data);
					window.location.reload();
				},
				error : function(data) {
					$.AMUI.progress.done();
					alert(data);
				}
			};

			$('#importfrom').ajaxSubmit(options);

		});
	});
</script>
</body>

</html>