<include file="Public/head" />
<include file="Public/nav" />
<!-- 内容区域 -->
<div class="tpl-content-wrapper">

	<div class="container-fluid am-cf">
		<div class="row">
			<div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
				<div class="page-header-heading">
					<span class="am-icon-home page-header-heading-icon"></span>修改学院信息
				</div>
				<p class="page-header-description"></p>
			</div>
		</div>

	</div>

	<div class="row-content am-cf">

		<div class="row">

			<div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
				<div class="widget am-cf">
					<div class="widget-head am-cf">
						<div class="widget-title am-fl">修改学院信息</div>
						<div class="widget-function am-fr">
							<a href="javascript:;" class="am-icon-cog"></a>
						</div>
					</div>
					<div class="widget-body am-fr">

						<form class="am-form tpl-form-border-form tpl-form-border-br"
							method="post" action="__CONTROLLER__/addcollege">
							<div class="am-form-group">
								<label for="user-name" class="am-u-sm-3 am-form-label">学院名称
									<span class="tpl-form-line-small-title">college</span>
								</label>
								<div class="am-u-sm-9">
									<input type="text" class="tpl-form-input" id="college"
										name="cname" value="" placeholder="请输入学院名称">
									<small>请仔细填写学院名称。</small>
								</div>
							</div>

							<div class="am-form-group">
								<label for="user-name" class="am-u-sm-3 am-form-label">班级名称
									<span class="tpl-form-line-small-title">class</span>
								</label>
								<div class="am-u-sm-9">
									<input type="text" class="tpl-form-input" id="class"
										name="clname" value="" placeholder="请输入班级名称">
									<small>请仔细填写班级名称。</small>
								</div>
							</div>

							<div class="am-form-group">
								<div class="am-u-sm-9 am-u-sm-push-3">
									<button type="submit"
										class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>


	</div>
</div>
</div>
</div>
<script src="__PUBLIC__/assets/js/amazeui.min.js"></script>
<script src="__PUBLIC__/assets/js/amazeui.datatables.min.js"></script>
<script src="__PUBLIC__/assets/js/dataTables.responsive.min.js"></script>
<script src="__PUBLIC__/assets/js/app.js"></script>

</body>

</html>